html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

#nav a {
  font-weight: bold;
  color: inherit;
}

#nav-border {
    border-bottom: 1px solid #212529;
}

#main {
  margin-top: 1em;
  margin-bottom: 4em;
}

#home-jumbotron {
  background-color: inherit;
}

.font-125 {
  font-size: 125%;
}

.tagpage-space {
  margin: 0.3em;
}

.tag-btn {
  margin-bottom: 0.3em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

h2 {
  border-bottom: 1px solid lightgray;
  width: 100%;
  display: block;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0 1.5em 10px ;
  padding: 0.5em 10px;
}

#TableOfContents ul {
  list-style-type: none;
  padding: 0px 5px 0px 10px;
}

#TableOfContents ul li a {
  color: grey;
  font-size: 75%
}

#TableOfContents ul li a.active {
  color: black;
  font-size: 75%
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
}

.site-footer
{
  background-color:#f2f2f2;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer h6
{
  font-size:16px;
  margin-top:5px;
  letter-spacing:2px
}

.footer-links
{
  padding-left:0;
  list-style:none;
}

.footer-links a
{
  color:#737373
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:10%;
  background-color:lightgray;
  color:#818a91;
  text-align:center;
  display:inline-block;
  font-size:22px;
}

.social-icons a:hover
{
  color:white;
  background-color:darkgrey;
}

@media (prefers-color-scheme: light) {
 
  html,
  body {
    background-color: #000000;
    color: lightgray;
  }

  img {
    filter: brightness(.8) contrast(1.2);
  }

  table,tr,th {
    color: white;
  }

  .btn {
    background-color: #1b1b1b;
    color: lightgray;
  }

  .card {
    background-color: #1b1b1b;
  }

  .card-header {
    background-color: #111111;
  }

  .card-footer {
    background-color: #111111;
  }
  
  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #252525;
  }

  .table-striped > tbody > tr:nth-child(2n+1):hover > td, .table-striped > tbody > tr:nth-child(2n+1):hover > th > td {
    background-color: #363636;
    color: lightgray
  }

  .table-striped > tbody > tr:nth-child(2n):hover > td, .table-striped > tbody > tr:nth-child(2n):hover > th > td {
    background-color: #363636;
    color: lightgray;
  }

  #nav-border {
    border-bottom: 1px solid #212529;
  }
  
  h2 {
    border-bottom: 1px solid lightgray;
  }
  
  blockquote {
    background: #2e2e2e;
  }
  
  #TableOfContents ul li a {
      color: grey;
  }
  
  #TableOfContents ul li a.active {
    color: white;
  }
  
  .site-footer
  {
    background-color:#1b1b1b;
    color:#737373;
  }

  footer hr{
    background-color: black;
  }

  .footer-links a
  {
    color:#737373
  }
  
  .social-icons a
  {
    background-color:#2e2e2e;
    color:#818a91;
  }
  
  .social-icons a:hover
  {
    color:white;
    background-color:darkgrey;
  }
  
}
