html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

pre {
  padding: 20px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

#nav a {
  font-weight: bold;
  color: inherit;
}

#nav-border {
    border-bottom: 1px solid #252525;
}

#main {
  margin-top: 1em;
  margin-bottom: 4em;
}

.font-125 {
  font-size: 125%;
}

.tagpage-space {
  margin: 0.3em;
}

.tag-btn {
  margin-bottom: 0.3em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

main h2 {
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}

main h3, 
main h4 {
  margin-top: 20px;
}

main h5, 
main h6 {
  padding-top: 10px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #cccccc;
  margin: 1.5em 0 1.5em 10px ;
  padding: 0.5em 10px;
}

#TableOfContents ul {
  list-style-type: none;
  padding: 0px 5px 0px 10px;
}

#TableOfContents ul li a {
  color: #808080;
  font-size: 75%
}

#TableOfContents ul li a.active {
  color: #000000;
  font-size: 75%
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
}

.site-footer
{
  background-color:#f2f2f2;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.poweredby-footer
{
  background-color:#ebebeb;
  padding:10px 0px 0px 0px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer h6
{
  font-size:16px;
  margin-top:5px;
  letter-spacing:2px
}

.footer-links
{
  padding-left:0;
  list-style:none;
}

.footer-links a
{
  color:#737373;
  text-decoration: none;
}

.footer-links a:hover
{
  color:#737373;
  text-decoration: underline;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:10%;
  background-color:#d3d3d3;
  color:#818a91;
  text-align:center;
  display:inline-block;
  font-size:22px;
}

.social-icons a:hover
{
  color:#ffffff;
  background-color:#a9a9a9;
}

/* ######################################################################## */
/* Dark Color Scheme                                                        */
/* ######################################################################## */

@media (prefers-color-scheme: dark) {
 
  html,
  body {
    background-color: #0d1117;
    color: #c9d1d9;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  a, 
  a:hover
  {
    color:#58a6e2
  }

  img {
    filter: brightness(.8) contrast(1.2);
  }

  table,
  tr,
  th {
    color: #c9d1d9;
  }
  
  .btn {
    color: #c9d1d9;
  }

  .card {
    background-color: #252e3b
  }

  .card-header {
    background-color: #21262d;
  }

  .card-footer {
    background-color: #21262d;
  }
  
  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #252e3b;
  }

  .table-striped > tbody > tr:nth-child(2n+1):hover > td, 
  .table-striped > tbody > tr:nth-child(2n+1):hover > th > td, 
  .table-striped > tbody > tr:nth-child(2n):hover > td, 
  .table-striped > tbody > tr:nth-child(2n):hover > th > td {
    background-color: #21262d;
    color: #c9d1d9
  }

  #nav-border {
    border-bottom: 1px solid #252525;
  }
  
  h2 {
    border-bottom: 1px solid #c9d1d9;
  }
  
  blockquote {
    background: #252e3b;
    border-left: 10px solid #58a6e2;
  }
  
  #TableOfContents ul li a {
      color: #8b949e;
  }
  
  #TableOfContents ul li a.active {
    color: #c9d1d9;
  }
  
  .site-footer
  {
    background-color:#161b22;
    color:#8b949e;
  }

  .poweredby-footer
  {
    background-color:#0d1117;
    color:#8b949e;
  }

  footer hr{
    background-color: #0d1117;
  }

  .footer-links a
  {
    color:#8b949e
  }
  
  .social-icons a
  {
    background-color:#252e3b;
    color:#8b949e;
  }
  
  .social-icons a:hover
  {
    background-color:#8b949e;
    color:#252e3b;

  }
  
}
