{{ define "main" }}

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    {{ partial "breadcrumb.html" . }}
    <h1>{{ .Title }}</h1>
    <div class="row row-cols-1 row-cols-md-2">
      {{ range .Pages.ByParam "categories_weight" }}
      <div class="col mb-4">
        <div class="card">
          <h5 class="card-header"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
          {{ if .PublishDate }}
          <div class="card-body">
            <p>{{ partial "categories-and-tags.html" . }}</p>
            <p class="card-text">{{ .Summary | truncate 200}}</p>
          </div>
          {{ end }}
          <div class="card-footer">
            <small class="text-muted">{{ if .PublishDate }}Published on {{ .PublishDate.Format "2006-01-02" }}{{ else }} Folder {{ end }}</small>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}

