{{ define "main" }}

<div class="row">
    <div class="col-lg-10 offset-lg-2">
        {{ partial "breadcrumb.html" . }}
        <h1>{{ .Title }}</h1>
        {{ .PublishDate.Format "2006-01-02" }}
        </br>
        {{ partial "categories-and-tags.html" . }}
        <div class="row">
            <div class="col-12 col-md-9">
                <br><br>
                {{ .Content }}
            </div>
            <div class="col-md-3">
                <br><br>
                <div class="sticky-top">
                {{ .TableOfContents }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}