{{ define "main" }}

<div class="row justify-content-end">
    <div class="col-10">
        {{ partial "breadcrumb.html" . }}
        <h1>{{ .Title }}</h1>
        {{ partial "date-and-tags.html" . }}
        <div class="row">
            <div class="col-9">
                <br><br>
                {{ .Content }}
            </div>
            <div class="col-3">
                <br><br>
                <div class="sticky-top">
                {{ .TableOfContents }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}