<footer id="sticky-footer" class="site-footer">
    <!--<div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4">
          <h6>About</h6>
          <p class="text-justify">{{ .Site.Params.Footer.footerText }}</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Content</h6>
          <ul class="footer-links">
            <li><a href="{{ .Site.BaseURL }}documentation/">Documentation</a></li>
            <li><a href="{{ .Site.BaseURL }}projects/">Projects</a></li>
            <li><a href="{{ .Site.BaseURL }}categories/">Categories</a></li>
            <li><a href="{{ .Site.BaseURL }}tags/">Tags</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="{{ .Site.BaseURL }}about/">About</a></li>
            <li><a href="{{ .Site.BaseURL }}contact/">Contact</a></li>
            <li><a href="{{ .Site.BaseURL }}privacy-policy/">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>-->
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!--<p class="footer-links" >Copyright &copy; {{ .Site.Params.Footer.copyrightyear }} <a href="{{ .Site.Params.Footer.copyrightlink }}">{{ .Site.Params.Footer.copyrightname }}</a></p>-->
          <ul class="social-icons text-left">
            <li><a class="" href="http://creativecommons.org/licenses/by/4.0/"><i class="fab fa-creative-commons"></i></a></li>
            <li><a class="" href="http://creativecommons.org/licenses/by/4.0/"><i class="fab fa-creative-commons-by"></i></a></li>
          </ul>
          <p class="footer-links">Content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
          
            
            
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="" href="{{ .Site.Params.Footer.github }}"><i class="fab fa-github"></i></a></li>
            <li><a class="" href="{{ .Site.Params.Footer.gitlab }}"><i class="fab fa-gitlab"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
