<div id="nav-border">
  <div class="container-fluid">
  <nav id="nav" class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {{ range .Site.Menus.main }} 
        {{ $text := print .Name | safeHTML }}
        <li class="nav-item"></li>
        <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>
  </div>
</div>
